@import "../components/shared-styles/type.scss";
@import "../components/shared-styles/project-backgrounds.scss";

// Global styles

html{
    font-family: Helvetica, sans-serif;
}

main{
    padding:5%;
    max-width:1260px;
}

img{
    width:100%;
}